*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: #2c3e50;
}
.digit{
    font-size: 200px;
    color: white;
}
.text{
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}
.stopwatch-btn{
    margin-top: 40px;
    text-align: center;
}
.btn{
    font-size: 30px;
    padding: 10px 15px;
}
.start{
    background: #1abc9c;
}
.stop{
    margin: 0 25px;
    background: #3498db;
}
.reset{
    background: #e74c3c;
    padding: 10px 11px;
}